{% extends 'base.html' %}

{% load static %}
{% block title %}Explore{% endblock %}
{% block content %}


    <div class="explore-page-banner change-name">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="explore-header-text">
                        <h2>Explore My Work</h2>
                        <p>Embark on a journey through my curated portfolio, where innovation meets artistry. Discover a tapestry of digital experiences that push boundaries and captivate audiences. Let our work be your guide to the realms of possibility.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <section id="projects" class="projects-section">
        <div class="container">
            <h1 class="section-title text-center">My Previous Projects</h1>
            <div class="project-grid">
                {% for project in projects %}
                    <div class="project-card">
                        <div class="project-image">
                            <img src="{{ project.image.url }}" alt="{{ project.title }}">
                            <div class="project-overlay">
                                <a href="{{ project.link }} {{cat.img.url}}" class="project-link">View Project</a>
                            </div>
                        </div>
                        <div class="project-info">
                            <h3 class="project-title">{{ project.title }}</h3>
                            <p class="project-description">{{ project.description }}</p>
                            <div class="project-tags">
                                {% for tag in project.tags.all %}
                                    <span class="tag">{{ tag.name }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


   {% endblock %}